# Rust
target/
**/*.rs.bk
Cargo.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
.env

# IDE
.vscode/
.idea/

# Database / OS
*.sqlite
*.db
thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
